
@{
    ViewData["Title"] = "Self Details";
    Layout = "~/Views/Shared/_LayoutEmployeeMaster.cshtml";

}


<body>

    <main id="main">
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <div class="d-md-flex">
                        <ol class="breadcrumb ms-auto">
                            <li><a href="#" class="fw-normal">Bank Details</a></li>
                        </ol>
                        <a href="" target="_blank"
                           class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">

                        </a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <br />


        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="row">

                <!-- Column -->
                <div class="col-lg-12 col-xlg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Employee Code</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="12345" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Type</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Type" aria-label="Last name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12 border-bottom p-0">
                                            <label class="p-0">Address</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Address" aria-label="First name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 border-bottom p-0">
                                            <label class="p-0">Country</label>
                                            <select class="form-select shadow-none p-0 border-0 form-control-line">
                                                <option>India</option>
                                                <option>USA</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">State</label>
                                            <select class="form-select shadow-none p-0 border-0 form-control-line">
                                                <option>Delhi</option>
                                                <option>Haryana</option>

                                            </select>
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">City</label>
                                            <select class="form-select shadow-none p-0 border-0 form-control-line">
                                                <option>Delhi</option>
                                                <option>Haryana</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->

            </div>

        </div>

    </main>

    @section Scripts
{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


        <script type="text/javascript">

                                    //$(document).ready(function () {
                                    //    var data = {};



                                    //});

                                    //$(function () {
                                    //    $('#dob').datetimepicker({ defaultDate: new Date() });

                                    //});

        </script>
    }
</body>

