
@{
    ViewData["Title"] = "Self Details";
    Layout = "~/Views/Shared/_LayoutEmployeeMaster.cshtml";

}


<body>

    <main id="main">
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <div class="d-md-flex">
                        <ol class="breadcrumb ms-auto">
                            <li><a href="#" class="fw-normal">Bank Details</a></li>
                        </ol>
                        <a href="" target="_blank"
                           class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">

                        </a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <br />


        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="row">

                <!-- Column -->
                <div class="col-lg-12 col-xlg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Employee Code</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="12345" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Finantial Year</label>
                                            <select class="form-select shadow-none p-0 border-0 form-control-line">
                                                <option value="1">2015</option>
                                                <option value="2">2016</option>
                                                <option value="3">2017</option>
                                                <option value="4">2018</option>
                                                <option value="5">2019</option>
                                                <option value="6">2020</option>
                                                <option value="7">2021</option>
                                                <option value="8">2022</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">HRA</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="HRA" aria-label="First name">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 border-bottom p-0">
                                            <label class="p-0">LIC Premium</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="LIC Premium" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Provident Fund</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Provident Fund" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Public PF</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Public PF" aria-label="First name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 border-bottom p-0">
                                            <label class="p-0">Voluntary PF</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Voluntary PF" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">NSC</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="NSC" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Interest NSC</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Interest NSC" aria-label="First name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 border-bottom p-0">
                                            <label class="p-0">ULIP</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="ULIP" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Mutual Fund</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Mutual Fund" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Tution Fees</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Tution Fees" aria-label="First name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 border-bottom p-0">
                                            <label class="p-0">Principal Repayment HL</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Principal Repayment HL" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">House Stamp Duty Charge</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="House Stamp Duty Charge" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Infrastructure Bonds</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Infrastructure Bonds" aria-label="First name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 border-bottom p-0">
                                            <label class="p-0">Bank FD</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Bank FD" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">PO Term Deposite</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="PO Term Deposite" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Home Loan Intrest</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Home Loan Interest" aria-label="First name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 border-bottom p-0">
                                            <label class="p-0">Medical Ins Premium</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Medical Ins Premium" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Medical Ins Prem Parent</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Medical Ins Prem Parent" aria-label="First name">
                                        </div>
                                        <div class="col-md-4  border-bottom p-0">
                                            <label class="p-0">Preventive Health Checkup</label>
                                            <input type="text" class="form-control  p-0 border-0" placeholder="Preventive Health Checkup" aria-label="First name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->

            </div>

        </div>

    </main>

    @section Scripts
{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


        <script type="text/javascript">

                                                    //$(document).ready(function () {
                                                    //    var data = {};



                                                    //});

                                                    //$(function () {
                                                    //    $('#dob').datetimepicker({ defaultDate: new Date() });

                                                    //});

        </script>
    }
</body>

